.flashcard-single {
  width: 400px;
  height: 250px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flashcard-label {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  opacity: 0.3;
}

.flashcard-content {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: black;
  padding: 1rem;
}

.flashcard-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.flashcard-navigation button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none; /* remove focus ring */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fece2e;
}
