/* Summary */
.summary-content {
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  line-height: 1.8;
  color: black;
  font-size: 1rem;
}

.summary-content p {
  margin: 0 0 15px 0;
}

.summary-content p:last-child {
  margin-bottom: 0;
}
